# Data Engineering - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = 'http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=#*******'  #Make sure to change ******* to your API key.

'''
"latest" endpoint - request the most recent exchange rate data
'''
Free_API_key = '#*******'        #Make sure to change ******* to your API key.
    
# rates for USD, AUD, CAD, PLN and MXN
url = 'http://api.exchangeratesapi.io/v1/latest?base = GBP&access_key='+Free_API_key + '&symbols = USD,AUD,CAD,PLN,MXN'
response = requests.get(url)
html = response.content
html1 =response.text
html2 = response.json()

# print(html)
# print('\n',html1)
print('\n',html2)

 {'success': True, 'timestamp': 1642766943, 'base': 'EUR', 'date': '2022-01-21', 'rates': {'AED': 4.162047, 'AFN': 118.898584, 'ALL': 121.728666, 'AMD': 547.168752, 'ANG': 2.042717, 'AOA': 603.889746, 'ARS': 118.164257, 'AUD': 1.576367, 'AWG': 2.040233, 'AZN': 1.928164, 'BAM': 1.956612, 'BBD': 2.288515, 'BDT': 97.408503, 'BGN': 1.956133, 'BHD': 0.427212, 'BIF': 2262.624574, 'BMD': 1.133148, 'BND': 1.525123, 'BOB': 7.815024, 'BRL': 6.185746, 'BSD': 1.133453, 'BTC': 2.9321089e-05, 'BTN': 84.322155, 'BWP': 13.021123, 'BYN': 2.916366, 'BYR': 22209.701209, 'BZD': 2.284713, 'CAD': 1.420044, 'CDF': 2283.292857, 'CHF': 1.034723, 'CLF': 0.032849, 'CLP': 906.099366, 'CNY': 7.184389, 'COP': 4504.829957, 'CRC': 719.42762, 'CUC': 1.133148, 'CUP': 30.028423, 'CVE': 110.3091, 'CZK': 24.355314, 'DJF': 201.78067, 'DKK': 7.443525, 'DOP': 65.479178, 'DZD': 158.781216, 'EGP': 17.806971, 'ERN': 16.997242, 'ETB': 56.391345, 'EUR': 1, 'FJD': 2.407429, 'FKP': 0.824841, 'GBP': 0.835872, 'GEL': 3.489579, 'GGP': 0.824841, 'GHS': 7.10384, 'GIP': 0.824841, 'GMD': 59.660367, 'GNF': 10257.600883, 'GTQ': 8.733091, 'GYD': 237.02476, 'HKD': 8.825127, 'HNL': 27.887149, 'HRK': 7.53113, 'HTG': 115.918343, 'HUF': 357.978522, 'IDR': 16223.450187, 'ILS': 3.561881, 'IMP': 0.824841, 'INR': 84.314188, 'IQD': 1654.265957, 'IRR': 47875.503629, 'ISK': 145.41672, 'JEP': 0.824841, 'JMD': 176.40353, 'JOD': 0.803352, 'JPY': 129.009473, 'KES': 128.680005, 'KGS': 96.08676, 'KHR': 4615.385914, 'KMF': 491.729372, 'KPW': 1019.833397, 'KRW': 1350.208219, 'KWD': 0.342687, 'KYD': 0.944615, 'KZT': 494.291975, 'LAK': 12861.755501, 'LBP': 1713.985234, 'LKR': 229.523287, 'LRD': 171.105734, 'LSL': 17.24084, 'LTL': 3.345892, 'LVL': 0.68543, 'LYD': 5.195823, 'MAD': 10.525008, 'MDL': 20.458579, 'MGA': 4516.755752, 'MKD': 61.639643, 'MMK': 2015.270969, 'MNT': 3239.478875, 'MOP': 9.092315, 'MRO': 404.533649, 'MUR': 49.523025, 'MVR': 17.50712, 'MWK': 925.338941, 'MXN': 23.22065, 'MYR': 4.743929, 'MZN': 72.328465, 'NAD': 17.240874, 'NGN': 465.848625, 'NIO': 40.186066, 'NOK': 10.054145, 'NPR': 134.915128, 'NZD': 1.686017, 'OMR': 0.436224, 'PAB': 1.133453, 'PEN': 4.35164, 'PGK': 3.979726, 'PHP': 58.073508, 'PKR': 199.713606, 'PLN': 4.532014, 'PYG': 7904.073856, 'QAR': 4.125767, 'RON': 4.94551, 'RSD': 117.626428, 'RUB': 86.773034, 'RWF': 1176.950919, 'SAR': 4.250399, 'SBD': 9.127322, 'SCR': 14.835902, 'SDG': 495.722742, 'SEK': 10.427846, 'SGD': 1.524651, 'SHP': 1.560799, 'SLL': 12832.901582, 'SOS': 662.891262, 'SRD': 24.091295, 'STD': 23453.876215, 'SVC': 9.917965, 'SYP': 2846.467574, 'SZL': 17.15856, 'THB': 37.306646, 'TJS': 12.802331, 'TMT': 3.97735, 'TND': 3.281033, 'TOP': 2.569923, 'TRY': 15.200552, 'TTD': 7.691475, 'TWD': 31.376302, 'TZS': 2617.571561, 'UAH': 32.09173, 'UGX': 3989.695039, 'USD': 1.133148, 'UYU': 50.615246, 'UZS': 12261.592058, 'VEF': 242301293238.58594, 'VND': 25643.139712, 'VUV': 128.806538, 'WST': 2.960171, 'XAF': 656.225143, 'XAG': 0.046592, 'XAU': 0.000618, 'XCD': 3.062389, 'XDR': 0.80823, 'XOF': 656.21935, 'XPF': 119.688734, 'YER': 283.570299, 'ZAR': 17.170966, 'ZMK': 10199.692896, 'ZMW': 19.806819, 'ZWL': 364.8732}}

In [4]:
from bs4 import BeautifulSoup

In [5]:
soup = BeautifulSoup(html, 'html.parser')
print(soup)

{"success":true,"timestamp":1642766943,"base":"EUR","date":"2022-01-21","rates":{"AED":4.162047,"AFN":118.898584,"ALL":121.728666,"AMD":547.168752,"ANG":2.042717,"AOA":603.889746,"ARS":118.164257,"AUD":1.576367,"AWG":2.040233,"AZN":1.928164,"BAM":1.956612,"BBD":2.288515,"BDT":97.408503,"BGN":1.956133,"BHD":0.427212,"BIF":2262.624574,"BMD":1.133148,"BND":1.525123,"BOB":7.815024,"BRL":6.185746,"BSD":1.133453,"BTC":2.9321089e-5,"BTN":84.322155,"BWP":13.021123,"BYN":2.916366,"BYR":22209.701209,"BZD":2.284713,"CAD":1.420044,"CDF":2283.292857,"CHF":1.034723,"CLF":0.032849,"CLP":906.099366,"CNY":7.184389,"COP":4504.829957,"CRC":719.42762,"CUC":1.133148,"CUP":30.028423,"CVE":110.3091,"CZK":24.355314,"DJF":201.78067,"DKK":7.443525,"DOP":65.479178,"DZD":158.781216,"EGP":17.806971,"ERN":16.997242,"ETB":56.391345,"EUR":1,"FJD":2.407429,"FKP":0.824841,"GBP":0.835872,"GEL":3.489579,"GGP":0.824841,"GHS":7.10384,"GIP":0.824841,"GMD":59.660367,"GNF":10257.600883,"GTQ":8.733091,"GYD":237.02476,"HKD":8.825127,"HNL":27.887149,"HRK":7.53113,"HTG":115.918343,"HUF":357.978522,"IDR":16223.450187,"ILS":3.561881,"IMP":0.824841,"INR":84.314188,"IQD":1654.265957,"IRR":47875.503629,"ISK":145.41672,"JEP":0.824841,"JMD":176.40353,"JOD":0.803352,"JPY":129.009473,"KES":128.680005,"KGS":96.08676,"KHR":4615.385914,"KMF":491.729372,"KPW":1019.833397,"KRW":1350.208219,"KWD":0.342687,"KYD":0.944615,"KZT":494.291975,"LAK":12861.755501,"LBP":1713.985234,"LKR":229.523287,"LRD":171.105734,"LSL":17.24084,"LTL":3.345892,"LVL":0.68543,"LYD":5.195823,"MAD":10.525008,"MDL":20.458579,"MGA":4516.755752,"MKD":61.639643,"MMK":2015.270969,"MNT":3239.478875,"MOP":9.092315,"MRO":404.533649,"MUR":49.523025,"MVR":17.50712,"MWK":925.338941,"MXN":23.22065,"MYR":4.743929,"MZN":72.328465,"NAD":17.240874,"NGN":465.848625,"NIO":40.186066,"NOK":10.054145,"NPR":134.915128,"NZD":1.686017,"OMR":0.436224,"PAB":1.133453,"PEN":4.35164,"PGK":3.979726,"PHP":58.073508,"PKR":199.713606,"PLN":4.532014,"PYG":7904.073856,"QAR":4.125767,"RON":4.94551,"RSD":117.626428,"RUB":86.773034,"RWF":1176.950919,"SAR":4.250399,"SBD":9.127322,"SCR":14.835902,"SDG":495.722742,"SEK":10.427846,"SGD":1.524651,"SHP":1.560799,"SLL":12832.901582,"SOS":662.891262,"SRD":24.091295,"STD":23453.876215,"SVC":9.917965,"SYP":2846.467574,"SZL":17.15856,"THB":37.306646,"TJS":12.802331,"TMT":3.97735,"TND":3.281033,"TOP":2.569923,"TRY":15.200552,"TTD":7.691475,"TWD":31.376302,"TZS":2617.571561,"UAH":32.09173,"UGX":3989.695039,"USD":1.133148,"UYU":50.615246,"UZS":12261.592058,"VEF":242301293238.58594,"VND":25643.139712,"VUV":128.806538,"WST":2.960171,"XAF":656.225143,"XAG":0.046592,"XAU":0.000618,"XCD":3.062389,"XDR":0.80823,"XOF":656.21935,"XPF":119.688734,"YER":283.570299,"ZAR":17.170966,"ZMK":10199.692896,"ZMW":19.806819,"ZWL":364.8732}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [6]:
# Turn the data into a dataframe
df = pd.read_json(html)
df

     success           timestamp base       date         rates
AED     True 2022-01-21 12:09:03  EUR 2022-01-21      4.162047
AFN     True 2022-01-21 12:09:03  EUR 2022-01-21    118.898584
ALL     True 2022-01-21 12:09:03  EUR 2022-01-21    121.728666
AMD     True 2022-01-21 12:09:03  EUR 2022-01-21    547.168752
ANG     True 2022-01-21 12:09:03  EUR 2022-01-21      2.042717
..       ...                 ...  ...        ...           ...
YER     True 2022-01-21 12:09:03  EUR 2022-01-21    283.570299
ZAR     True 2022-01-21 12:09:03  EUR 2022-01-21     17.170966
ZMK     True 2022-01-21 12:09:03  EUR 2022-01-21  10199.692896
ZMW     True 2022-01-21 12:09:03  EUR 2022-01-21     19.806819
ZWL     True 2022-01-21 12:09:03  EUR 2022-01-21    364.873200

[168 rows x 5 columns]

In [7]:
# Drop unnescessary columns
df.drop(['success','timestamp','base','date'], axis = 1, inplace = True)

In [8]:
df.rename(columns={'rates':'Rates'}, inplace = True)
df

            Rates
AED      4.162047
AFN    118.898584
ALL    121.728666
AMD    547.168752
ANG      2.042717
..            ...
YER    283.570299
ZAR     17.170966
ZMK  10199.692896
ZMW     19.806819
ZWL    364.873200

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [9]:
import os

In [10]:
# path = os.path.join(os.getcwd(), 'file_name.csv')
# path = os.path.join(os.getcwd(),'Working_folder','TestFile.csv')
# path = os. getcwd()
# path

In [11]:
import os
def main():
    
    # Create directory
    global dirName
    dirName = os.path.join(os.getcwd(),'tempDir_DE_M3-12')
    
    try:
        # Create target Directory
        os.mkdir(dirName)
        print("Directory " , dirName ,  " Created ") 
    except FileExistsError:
        print("Directory " , dirName ,  " already exists")        
    
    # Create target Directory if don't exist
    if not os.path.exists(dirName):
        os.mkdir(dirName)
        print("Directory " , dirName ,  " Created ")
    else:    
        print("Directory " , dirName ,  " already exists")
    
#     dirName = 'tempDir2/temp2/temp'
    
#     # Create target directory & all intermediate directories if don't exists
#     try:
#         os.makedirs(dirName)    
#         print("Directory " , dirName ,  " Created ")
#     except FileExistsError:
#         print("Directory " , dirName ,  " already exists")  
        
    
#     # Create target directory & all intermediate directories if don't exists
#     if not os.path.exists(dirName):
#         os.makedirs(dirName)
#         print("Directory " , dirName ,  " Created ")
#     else:    
#         print("Directory " , dirName ,  " already exists")    
        
    
if __name__ == '__main__':
    main()
print(dirName)

Directory  D:\_Learning_Udemy and Coursera\IBM Data Analytics\DE_M3 Python Project for Data Engineering\Labs\tempDir_DE_M3-12  already exists
Directory  D:\_Learning_Udemy and Coursera\IBM Data Analytics\DE_M3 Python Project for Data Engineering\Labs\tempDir_DE_M3-12  already exists
D:\_Learning_Udemy and Coursera\IBM Data Analytics\DE_M3 Python Project for Data Engineering\Labs\tempDir_DE_M3-12

In [12]:
# Save the Dataframe
df.to_csv(dirName+'\\exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

In [13]:
exchange_rates_data = pd.read_csv(dirName+'\\exchange_rates_1.csv', index_col = 0)
exchange_rates_data

            Rates
AED      4.162047
AFN    118.898584
ALL    121.728666
AMD    547.168752
ANG      2.042717
..            ...
YER    283.570299
ZAR     17.170966
ZMK  10199.692896
ZMW     19.806819
ZWL    364.873200

[168 rows x 1 columns]

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).